# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site
_posts/_templates

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
# assets/js/dist
#_posts/2024-09-01-k8s-초보를-위한-쿠버네티스-안내서(44BITS)-정리.md
