# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site
_posts/_templates

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
# assets/js/dist
_posts/2024-01-24-python의-테스트-unittest.md
#_posts/2024-06-27-본체-pc를-서버로-만들어-ssh-접근하는-법.md
